/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
html, body{
    font-family: "Titillium Web",'Nunito', sans-serif;
    background-color: #0000;
}

.App {
    background-color: #030714;
    color: #fff;
    min-height: 100vh;
}
/* Glowing effect for cursor */
/* Glowing effect on hover */
.gradient-border-blur:hover {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
  transition: filter 0.3s ease-out;
}


/* styles.css */
.gradient-border-blur {
    position: relative;
    padding: 2px; /* Adjust this value to control border thickness */
    border-radius: 1rem; /* Adjust as needed */
  }
  
  .gradient-border-blur::before {
    content: '';
    position: absolute;
    inset: 0;
    padding: 2px; /* Adjust to match the border thickness */
    background: linear-gradient(to top, #4f46e5, #7c3aed, #7c3aed);
    border-radius: inherit; /* Ensure it matches the border radius */
    filter: blur(8px); /* Adjust the blur level as needed */
    z-index: 1;
  }
  
  .inner-container {
    position: relative;
    z-index: 2;
    background-color: #030714; /* Your inner container background (e.g., bg-cinder-950) */
    border-radius: inherit; /* Match outer border radius */
    padding: 16px; /* Inner padding */
  }
  /* ******************************************************************************************************************************** */

  .list-item {
    position: relative;
    list-style: none;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    background-color: rgba(128, 0, 128, 0.6); /* Purple background with opacity */
    color: white;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out; /* Smooth background color transition */
  }
  
  .list-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: inherit;
    backdrop-filter: blur(0px); /* Initial no blur */
    transition: backdrop-filter 0.3s ease-in-out; /* Smooth transition */
    z-index: -1; /* Behind the text */
  }
  
  .list-item:hover::before {
    backdrop-filter: blur(20px); /* Apply blur on hover */
  }
  
  .list-item:hover {
    background-color: rgba(128, 0, 128, 1); /* Fully opaque background on hover */
  }
  